@media screen and (max-width: 992px) {
    .push-right {
        .sidebar {
            left: 235px !important;
        }
    }
}
.tab-content {
         border: 1px solid #d3d6db;
         padding:15px;
         margin-top: 2px;
         float: left;
         width: 100%;
         left: 0;
         position: absolute;
         background-color: lightgrey;
    }
  .tab-pane .col-md-6 {
        flex: initial;
        max-width: initial !important;
        width: 50%;
        float: left;
        margin-bottom: 15px;
  }
 .nav-pills .nav-link.active, .nav-pills .nav-item.show .nav-link {
    color: #fff;
    cursor: default;
    background-color: black;
}
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.rtl .block-menu{
    clear: right;
    padding-right: 205px;
}

.rtl .submenu{padding-right: 65px;}


.rtl .navbar-nav{margin-right: 36%;}

.rtl .main-container-collapse{
    z-index:1000 !important;}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}