 <div class="block-menu" style="background-color:lightgrey">
       <form name="masterTabForm" #masterTabForm="ngForm" >
           <div class="row">
                    <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>
              <div>
                <div class="col-md-10">
               <div class="row">
                   <div class="col-md-10">
                       <div class="row">
                           <div class="col-md-4">
                               <b>Request Type:</b>
                           </div>
                            <div class="col-md-5">
                                <input  type="text" [disabled]="values"  class="form-control" [(ngModel)]="requestTypeID" name="requestTypeID" >
                          </div>
                            <!-- <div class="col-md-3">
                         divyesh
                            </div> -->
                       </div>
                      </div>
                  </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="col-md-10">
               <div class="row">
                   <div class="col-md-10">
                       <div class="row">
                           <div class="col-md-4">
                               <b>Employee:</b>
                           </div>
                            <div class="col-md-5">
                               <input  type="text" [disabled]="values" class="form-control"[(ngModel)]="employmentID" name="employmentID" >
                          </div>
                       </div>
                      </div>
                  </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>
                     <div class="col-md-10">
               <div class="row">
                   <div class="col-md-10">
                       <div class="row">
                           <div class="col-md-4">
                               <b>Request Date:</b>
                           </div>
                            <div class="col-md-5">
                                <input  type="text" [disabled]="values" class="form-control"[(ngModel)]="requestStartDate" name="requestStartDate" >
                          </div>
                       </div>
                      </div>
                  </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>
                     <div class="col-md-10">
               <div class="row">
                   <div class="col-md-10">
                       <div class="row">
                           <div class="col-md-4">
                               <b>Amount:</b>
                           </div>
                            <div class="col-md-2">
                                <input [disabled]="values" class="form-control" type="text" style="width:92px;">
                          </div>
                             <div class="col-md-1">
                                <input [disabled]="values" class="form-control" type="text"  style="width:72px;">
                          </div>
                       </div>
                      </div>
                  </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>
                     <div class="col-md-10">
               <div class="row">
                   <div class="col-md-10">
                       <div class="row">
                           <div class="col-md-4">
                               <b>Installments:</b>
                           </div>
                            <div class="col-md-5">
                                <input class="form-control" [disabled]="values"type="text">
                          </div>
                       </div>
                      </div>
                  </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>
                     <div class="col-md-10">
               <div class="row">
                   <div class="col-md-10">
                       <div class="row">
                           <div class="col-md-4">
                               <b>Settale With Payroll:</b>
                           </div>
                            <div class="col-md-5">
                                <input [disabled]="values" class="form-control" type="text">
                          </div>
                       </div>
                      </div>
                  </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>   
           </div>
     </form>
        <b style="padding:11px;">Current approvals on that request</b>
        <div class="row">
            <div class="col-sm-8">
       <div class="table-responsive" style="padding: 10px;">
    <table class="table dataTable table-striped table-bordered" role="grid" style="width: 100%;" ng-reflect-klass="table dataTable" ng-reflect-ng-class="table-striped table-bordered">
      <thead>
        <tr role="row">
      <th > Approval Date
          </th><th> Approved By
          </th><th>
            Comments
          </th>
        </tr>
      </thead>
      <tbody>
    <tr>
         <td>2017-09-12</td><td>Alessandro Pecorelli</td><td>Disscussed with Finance</td>
        </tr><tr>
        <td>2017-09-02</td><td>admin</td><td>Disscussed with Finance</td>
        </tr><tr>
       <td>2017-09-02</td><td>admintest</td><td>Finance</td>
        </tr><tr>
      <td>2017-08-09</td><td>Test</td><td>finance</td>
        </tr><tr>
        <td>2017-07-08</td><td>admin</td><td>discussd with finance</td>
        </tr><tr>
        
      </tbody>
    </table>

  
     </div>
  </div>
<div class="col-sm-4" style="padding-right: 25px;">
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
      <br/>
      <div class="row">
          <div class="col-sm-6">
              <button class="pull-left btn btn-primary" style="background-color: red;border-color: red;" (click)="onupdate()">Approve</button>
          </div>
          <div class="col-sm-6">
              <button class="pull-right btn btn-primary" style="background-color: green;border-color: green;">Decline</button>
          </div>
      </div>
      
    </div>
  
       </div>
   </div>
  </div>