<style type="text/css">
    body {
        margin: 0px;
        font-family: Arial;
    }

    .fb-profile-block {
        margin: auto;
        position: relative;
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
    }

    .fb-profile-block-thumb {
        display: block;
        height: 140px;
        overflow: hidden;
        position: relative;
        text-decoration: none;
    }

    .fb-profile-block-menu {
        border: 1px solid #d3d6db;
    }

    .profile-img a {
        bottom: 15px;
        box-shadow: none;
        display: block;
        left: 15px;
        padding: 1px;
        position: absolute;
        height: 160px;
        width: 160px;
        background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
        z-index: 9;
    }

    .profile-img img {
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
        height: 158px;
        padding: 5px;
        width: 158px;
    }

    .profile-name {
        bottom: 60px;
        left: 205px;
        position: absolute;
    }

    .profile-name h2 {
        color: black;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        max-width: 303px;
        position: relative;
        text-transform: uppercase;
    }

    .fb-profile-block-menu {
        height: 44px;
        position: relative;
    }

    .main-container .tab-content {
        left: 0;
        position: absolute;
        border: 1px solid #d3d6db;
        width: 100%;
        padding: 20px;
        border-top: none;
    }

    .block-menu {
        clear: right;
       /* padding-left: 205px;*/
       margin-top: 60px;
    }

    .block-menu ul {
        margin: 0;
        padding: 0;
        height: 44px;
    }

    .block-menu ul li {
        display: inline-block;
    }

    .block-menu ul li a {
        border-right: 1px solid #e9eaed;
        float: left;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        height: 42px;
        line-height: 3.0;
        padding: 0 17px;
        position: relative;
        vertical-align: middle;
        white-space: nowrap;
        color: #365899;
        text-transform: capitalize;
    }

    .block-menu ul li:first-child a {
        border-left: 1px solid #e9eaed;
    }

    .activity {
        float: right;
    }

    .actions {
        bottom: 82px;
        padding: 0;
        position: absolute;
        right: 15px;
    }

    .options a button {
        cursor: pointer;
    }

    .edit_profile,
    .activity_log {
        border: 1px solid;
        border-radius: 2px;
        font-size: 12px;
        line-height: 26px;
        padding: 0 10px;
        font-weight: bold;
        position: relative;
    }

    .notification {
        background-color: #fa3e3e;
        border-radius: 2px;
        color: #fff;
        margin-left: 5PX;
        padding: 1px 3px;
    }

    .grey-pencil {
        color: #90949c;
        font-size: 14PX;
        margin-right: 5PX;
    }

    .current a {
        color: #4b4f56;
    }

    .tab-content {
        background: #fff;
        width: 100%;
        float: left;
        position: absolute;
        left: 0;
        border: 1px solid #000;
        padding: 15px;
        background-color: lightgrey !important;
    }

    .tab-content.current {
        display: inherit;
    }

    ul#triple {
        overflow: hidden;
    }

    #triple li {
        width: 33.333%;
        line-height: 2.5em;
        float: left;
        display: inline;
    }

    .tab-content.current[_ngcontent-c4] {
        display: inherit;
        float: left;
        width: 100%;
        margin-top: 10px;
    }

    

    .card-img-top {
        max-height: 104px;
        height: 100px;
        max-width: 100px;
        border-radius: 50%;
        border: 3px #5bc0de solid;

        margin: 31px auto;
        display: table;
    }

    .card:hover {
        border: 2px green solid;
        cursor: pointer;
        box-shadow: 10px 10px 5px grey;
    }

    .card-title {
        text-align: center;
        color: black;
    }

    .right-desktop {
        text-align: right;
    }

    .block-menu .card {
        margin: 0 15px;
        width: 30.5% !important;
    }

    .upload {
        z-index: 99;
        position: absolute;
        left: 16px;
        right: 0;
        width: 99px;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        border: none;
    }

    .payrollbox{width: 100%;float:left;margin-bottom:20px;}
</style>
<app-emp-tabs></app-emp-tabs>

<div class="block-menu">
<form>
<fieldset class="bottomHead">
    <legend>Employee Details</legend>
    <div class="row">
        <div class="col-md-6">
                                    
            <div class="form-group">
            <label>EmployeeStatusID : </label>
            <select [disabled]="values" class="form-control input-sm" name="id" [(ngModel)]="employeeMaster.id">
              <option value="{{employeeMaster.id}}">{{employeeMaster.id}}
            </option>
             </select>
                                            
        </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>ID Alt : </label>        
                <input type="text" class="form-control input-sm" id ="ida" name="idAlt" #idAlt="ngModel" [(ngModel)]="employeeMaster.idAlt" [disabled]="values" value="{{employeeMaster.idAlt}}">
            </div>                        
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">             
            <div class="form-group">
            <label>Given Name : </label>
            <input type="text"  class="form-control input-sm" [disabled]="values" name="givenName" [(ngModel)]="employeeMaster.givenName" value="{{employeeMaster.givenName}}">                               
        </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Surname : </label>        
                <input type="text"  class="form-control" [disabled]="values" name="surname" [(ngModel)]="employeeMaster.surname" value="{{employeeMaster.surname}}">

            </div>                        
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">             
            <div class="form-group">
            <label>Alternative Name : </label>
            <input type="text" [disabled]="values"  class="form-control" name="alternativeName" [(ngModel)]="employeeMaster.alternativeName">
        </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Full Name : </label>        
                <input type="text"  class="form-control" [disabled]="values" name="fullName" [(ngModel)]="employeeMaster.fullName" value="{{employeeMaster.fullName}}">
            </div>                        
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">             
            <div class="form-group">
            <label>Gender : </label>
            <input type="text"  class="form-control" [disabled]="values" value="{{employeeMaster.gender}}" name="gender" [(ngModel)]="employeeMaster.gender">
        </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label> Marital Status : </label>
                
            <select name="maritalStatusID"  class="form-control" [disabled]="values" > <!--[(ngModel)]="employeeMaster.maritalStatusID"-->
                <option *ngFor="let md of married" [ngValue]="md.lbl" [selected]="employeeMaster.religionID == md.lbl">{{md.txt}}</option>
            </select>
            </div>                        
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">             
            <div class="form-group">
                <label>BirthDate : </label>
                <input type="date"  class="form-control" [disabled]="values" name="birthDate" [(ngModel)]="employeeMaster.birthDate" value="{{employeeMaster.birthDate}}">
            </div>
        </div>
        <div class="col-md-6">             
            <div class="form-group">
            <label>Country : </label>
            <select [disabled]="values" class="form-control">

                <option *ngFor="let cy of country" [ngValue]="cy.lbl" [selected]="employeeMaster.countryID == cy.lbl">{{cy.txt}}</option>
            </select>
        </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Address/Contact Details</legend>
    <div class="row">
        <div class="col-md-6">             
            <div class="form-group">
            <label>Email : </label>
            <input type="text" class="form-control" [disabled]="values" name="email" [(ngModel)]="employeeMaster.email" value="{{employeeMaster.email}}">

        </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label> MobileNumber : </label>  
            <input type="text"  class="form-control" [disabled]="values" name="mobileNumber" [(ngModel)]="employeeMaster.mobileNumber" value="{{employeeMaster.mobileNumber}}">
            </div>                        
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">             
            <div class="form-group">
            <label>Address : </label>
            <input type="text" class="form-control" [disabled]="values" name="address" [(ngModel)]="employeeMaster.address" value="{{employeeMaster.address}}">

        </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label> City : </label>        
            <input type="text" class="form-control" [disabled]="values" name="city" [(ngModel)]="employeeMaster.city" value="{{employeeMaster.city}}">
            </div>                        
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">             
            <div class="form-group">
            <label>Landline : </label>
            <input type="text" class="form-control" [disabled]="values" name="landline" value="{{employeeMaster.landline}}" [(ngModel)]="employeeMaster.landline">

        </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label> ForeignMobileNumber : </label>
            <input type="text" class="form-control" [disabled]="values" name="foreignMobileNumber" [(ngModel)]="employeeMaster.foreignMobileNumber" value="{{employeeMaster.foreignMobileNumber}}">  
            </div>                        
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Other Details</legend>
    <div class="row">
        <div class="col-md-6">             
            <div class="form-group">
                <label>Nationality : </label>
                <select class="form-control" [disabled]="values"  name="nationalityID"> <!--[(ngModel)]="employeeMaster.nationalityID"-->
                    <option *ngFor="let nt of country" [ngValue]="nt.lbl" [selected]="employeeMaster.nationalityID == ntlbl">{{nt.txt}}</option>

                </select>
            </div>
        </div>
        <div class="col-md-6">             
            <div class="form-group">
            <label>BloodType : </label>
            <select class="form-control" [disabled]="values" name="bloodTypeID"> 

            <option *ngFor="let bty of bloodType" [ngValue]="bty.lbl" [selected]="employeeMaster.bloodTypeID == bty.lbl">{{bty.txt}}</option>

            </select>
        </div>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-6">             
            <div class="form-group">
            <label>Religion : </label>
            <select class="form-control" name="religionID" [disabled]="values" > <!--[(ngModel)]="employeeMaster.religionID"-->
                <option *ngFor="let rl of religion" [ngValue]="rl.lbl" [selected]="employeeMaster.religionID == rl.lbl">{{rl.txt}}</option>
            </select>
        </div>
        </div>
    </div>
</fieldset>
<div class="col-md-12 row">
                <div class="col-md-10"></div>
                <div class="col-md-2 form-group buttonSet">
                    <!-- <a [routerLink]="['/employeelist/employeeadd']"  class="btn btn-secondary btn-md pull-right  ml-2 ">Back</a> -->
                    <!-- <button type="button" class="btn btn-secondary btn-md ml-2 pull-right ">Back</button> -->
                    <button type="button" class="btn btn-success btn-md pull-right ml-2 ">Save</button>
                </div>
            </div>
</form>

</div>
    
