<div [@routerTransition]>

</div>


<div class="employee-list">
  
    <div style="margin-bottom: 21px;"><i class="fa fa-plus searchPlus" aria-hidden="true" (click)="toggleSearch($event)"></i>&nbsp; Search</div>
    <div class="card line searchHide">
         <div class="card-block ">
            <div class="row">
                <div class="col-md-12 row">
                    <div class="col-md-6 row form-group">
                        <label class="col-md-3">Given Name</label>
                        <input type="text" class="col-md-8 form-control" id="email" [(ngModel)]="employee.GivenName" name="GivenName" placeholder="Given Name" >
                    </div>
                    <div class="col-md-6 row  form-group">
                        <label class="col-md-3">SurName</label>
                        <!-- <input class="col-md-8 form-control" placeholder="Last Name "> -->
                        <input type="text" class="col-md-8 form-control" id="pwd" [(ngModel)]="employee.SurName" name="SurName" placeholder="SurName">
                    </div>
                </div>
    
                <div class="col-md-12 row">
                    <div class="col-md-6 row form-group">
                        <label class="col-md-3">Name</label>
                        <input class="col-md-8 form-control" placeholder="Name">
                    </div>
                    <div class="col-md-6 row  form-group">
                        <label class="col-md-3">Residency</label>
                        <input class="col-md-8 form-control" placeholder="Residency">
                    </div>
                </div>
                <div class="col-md-12 row">
                    <div class="col-md-6 row form-group">
                        <label class="col-md-3">Id</label>
                        <input class="col-md-8 form-control" placeholder="Id">
                    </div>
                    <div class="col-md-6 row  form-group">
                        <label class="col-md-3">Passport</label>
                        <input class="col-md-8 form-control" placeholder="passport">                        
                    </div>
                </div>
                <div class="col-md-12 row">
                    <button class="btn btn-primary" (click)="employeeListingData()">Search</button>
                </div>
              
            </div>
        </div>
        <!-- carblock end  -->
    </div>
    <!-- care end   -->

    <div *ngIf="loader" class="loader" style="display: block; margin: 5% auto;"></div>
    <div class="row">
        <div class="col-md-4  col-lg-4 lib-item" data-category="ui" *ngFor="let employee of finalData" style="padding-left:10px;padding-right:10px;" (click)="employeeDetail(employee)">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-3" style="text-align:center;">
                        <img class="lib-img center-block" src="../assets/images/avatar-male.jpg">
                    </div>
                    <div class="col-md-9">
                        <div class="lib-row lib-header">
                            {{employee.fullName}}
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            <p>Iqma | Passport</p>
                            <p>{{employee.entityID}} | {{employee.departmentName}}</p>
                            <p>Joining Date</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="loading-fun">
        <button class="load_more"> <a href="">Load More</a></button>
    </div>
</div>
