.font-1 {
    display: inline-block;
    margin-right: 1rem;
    font-size: 17px;
    line-height: 32px;
    white-space: nowrap;
}
.dropdown{
    width:200px;
    height: 30px;
}
.btn-size{
    width:15%;
}
