<!-- <p>
  emp-wizard works!
</p> -->

<div class="wizard-boarder"></div>

<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-2">
    <div class="card card-success card-inverse mb-3"  >
      <div class="card-block bg-white">
        <h5 class="text-center text-white">Step 1</h5>
        <div class="text-center text-font-1">Master Data</div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card card-warning card-inverse mb-3">
      <div class="card-block bg-white">
        <h5 class="text-center text-white">Step 2</h5>
        <div class="text-center text-font-1">Employment Data</div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card card-danger card-inverse mb-3">
      <div class="card-block bg-white">
        <h5 class="text-center text-white">Step 3</h5>
        <div class="text-center text-font-1">Salary</div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card card-danger card-inverse mb-3">
      <div class="card-block bg-white">
        <h5 class="text-center text-white">Step 4</h5>
        <div class="text-center text-font-1">Dependents</div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card card-danger card-inverse mb-3">
      <div class="card-block bg-white">
        <h5 class="text-center text-white">Step 5</h5>
        <div class="text-center text-font-1">Insurance</div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>