.line {
        border-top: 2px black solid;
        margin-top: 15px;
        margin-bottom: 28px;
    }
     .searchForm{
        padding-top: 15px;
        margin-bottom: 15px;
        border-bottom: 2px solid #000;
    }
     .searchForm .form-group{
        margin-bottom: 15px;
    }
     .searchHide {
        display: block;
    }
    .contenttext{
        justify-content: left !important;
    }
    .textcom{
            margin-left: 10px;
    }
     .butttttn{
                 margin-bottom: 18px;
                 margin-left: 8px;
    }
    .bttnicon{
            margin-right: 3px;

    }