<div _ngcontent-c20="" class="row mt-3">
<div _ngcontent-c20="" class="row mt-3">
    <div _ngcontent-c20="" class="col-sm-12">
        <div _ngcontent-c20="" class="card">
            <div _ngcontent-c20="" class="card-header">User Manager</div>
            <div _ngcontent-c20="" class="card-block">
                <ngb-tabset _ngcontent-c20="">
    <ul role="tablist" class="nav nav-tabs justify-content-start">
      <!----><li class="nav-item">
        <a class="nav-link" href="" role="tab" id="ngb-tab-0" aria-expanded="false" aria-disabled="false">
          Simple<!---->
        </a>
      </li><li class="nav-item">
        <a class="nav-link active" href="" role="tab" id="ngb-tab-1" aria-expanded="true" aria-disabled="false" aria-controls="ngb-tab-1-panel">
          <!----><b _ngcontent-c20="">Fancy</b> title
        </a>
      </li><li class="nav-item">
        <a class="nav-link disabled" href="" role="tab" id="ngb-tab-2" tabindex="-1" aria-expanded="false" aria-disabled="true">
          Disabled<!---->
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <!---->
        <!---->
      
        <!----><div role="tabpanel" class="tab-pane active" aria-labelledby="ngb-tab-1" id="ngb-tab-1-panel" aria-expanded="true">
          <!---->
                            <p _ngcontent-c20="">Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                            craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                            cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                            yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
                            sint qui sapiente accusamus tattooed echo park.</p>
                        
        </div>
      
        <!---->
      
    </div>
  </ngb-tabset>
            </div>
        </div>
    </div>