<app-emp-wizard></app-emp-wizard>

<div class="card">
    <b class="headerText">Employee Master Details</b>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12 row">
                <div class="col-md-6 row form-group">
                    <label class="col-md-3">Given Name</label>
                    <input class="col-md-8 form-control" placeholder="Given Name ">
                </div>
                <div class="col-md-6 row  form-group">
                    <label class="col-md-3">LastName</label>
                    <input class="col-md-8 form-control" placeholder="Last Name ">
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-6 row form-group">
                    <label class="col-md-3">Alternative Name</label>
                    <input class="col-md-8 form-control" placeholder="Alternative Name">
                </div>

                <div class="col-md-6 row  form-group">
                    <label class="col-md-3">Birth Date</label>
                    <input class="col-md-7 form-control" placeholder=" /  / ">
                    <div class="col-md-1"><span class="fa fa-calendar "></span></div>
                </div>
            </div>
            <div class="col-md-12 row">

                <div class="col-md-6 row form-group">
                    <label class="col-md-3">Internal Id</label>
                    <input class="col-md-8 form-control" placeholder="Internal Id ">
                </div>

                <div class="col-md-6 row  form-group">
                    <label class="col-md-3">Email</label>
                    <input class="col-md-8 form-control" placeholder="Email ">
                </div>

            </div>


            <div class="col-md-12 row">
                <div class="col-md-6 row form-group">
                    <label class="col-md-3">Nationality/label</label>
                    <select name="" id="" class="col-md-8 form-control">
            <option value="">Nationality </option>
        </select>
                </div>
                <div class="col-md-6 row  form-group">
                    <label class="col-md-3">Reglion</label>
                    <select name="" id="" class="col-md-8 form-control">
      <option value="">Reglion </option>
    </select>
                </div>
            </div>


            <div class="col-md-12 row">
                <div class="col-md-9 row pl-3 form-group text-font-1">

                </div>
                <div class="col-md-3 row  form-group">
                    <!-- <a [routerLink]="['/employeelist/employeeadd']"  class="btn btn-secondary btn-md pull-right  ml-2 ">Back</a> -->
                    <!-- <button type="button" class="btn btn-secondary btn-md ml-2 pull-right ">Back</button> -->
                    <button type="button" class="btn btn-success btn-md pull-right ml-2 ">Save</button>
                    <a [routerLink]="['/employeelist/employeeadd']" class="btn btn-secondary btn-md pull-right  ml-2 ">Next</a>
                </div>
            </div>
            <!-- end check -->
        </div>
    </div>
    <!-- carblock end  -->
</div>
<!-- care end   -->
