 <div [@routerTransition]>
  <div style="margin-bottom: 21px;"><i class="fa fa-minus searchPlus " aria-hidden="true" (click)="toggleSearch($event)"></i>&nbsp; Search</div>
     <div class="line">
       <div class="form-inline searchForm">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                    <b class="col-sm-5 contenttext control-label">{{getTranslationItem('lbl_User_FullName')}}:</b>
                    <div class="col-sm-7">
                         <input type="text" class="form-control" [(ngModel)]="Fullname" name="Fullname">
                    </div>
                 </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                    <b  class="col-sm-5 contenttext control-label">{{getTranslationItem('lbl_User_UserName')}}:</b>
                    <div class="col-sm-7">
                         <input  type="text" class="form-control"[(ngModel)]="Username" name="Username" >
                    </div>
                        </div>
                </div>
            </div>
           <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                    <b for="email" class="col-sm-5 contenttext control-label">{{getTranslationItem('lbl_User_Email')}}:</b>
                    <div class="col-sm-7">
                        <!-- <input type="text" class="form-control" id="email"> -->
                         <input class="form-control textcom"[(ngModel)]="Email" name="Email" >
                    </div>
                        </div>
                </div>
            </div> 
                <button class="pull-right btn btn-primary butttttn" (click)="userlist()"><i class="glyphicon glyphicon-search bttnicon"></i>{{getTranslationItem('lbl_btn_Search')}}</button>
                    <!-- <button type="submit" class="btn btn-secondary butttttn " (click)="userlist()">{{getTranslationItem('lbl_btn_Search')}}</button> -->
                <!-- <button type="submit" class="btn btn-secondary btn-success" (click)="Redirect()" routerLink="/adduser" >{{getTranslationItem('lbl_btn_Adduser')}}</button> -->
             </div>
            </div>   
        <div class="row">
        <div class="col-md-12">
      <button class="pull-right btn btn-primary " (click)="Redirect()"><i class="glyphicon glyphicon-user bttnicon"></i>{{getTranslationItem('lbl_btn_Adduser')}}</button> 
        </div>
      </div>
     <div class="row">
        <div class="col-md-12">
       &nbsp;
        </div>
      </div>
<!-- <div class="row">
     <div class="col-lg-12">
     <form role="form">
         <div class="row">
         <div class="col-lg-6">
               <fieldset class="form-group">
                    <label >{{getTranslationItem('lbl_User_FullName')}}</label>
                    <input class="form-control" [(ngModel)]="Fullname" name="Fullname">
                
                </fieldset>
        </div>
            <div class="col-lg-6">
               <fieldset class="form-group">
                    <label >{{getTranslationItem('lbl_User_UserName')}}</label>
                    <input class="form-control"[(ngModel)]="Username" name="Username" >
                
                </fieldset>
        </div>
           
    </div>
    <div class="row">
         <div class="col-lg-6">
               <fieldset class="form-group">
                    <label >{{getTranslationItem('lbl_User_Email')}}</label>
                    <input class="form-control"[(ngModel)]="Email" name="Email" >
                </fieldset>
        </div>
            <div class="col-lg-6">
                <button type="submit" class="btn btn-secondary butttttn " (click)="userlist()"style="margin-top:33px;">{{getTranslationItem('lbl_btn_Search')}}</button>
             </div>
           
    </div>
      </form>
   </div>

</div>

      <div class="row">
  <div class="col-md-4"> 

             <button type="submit" class="btn btn-secondary btn-success" (click)="Redirect()" routerLink="/adduser" >{{getTranslationItem('lbl_btn_Adduser')}}</button>
  </div>
</div>  -->
  <div *ngIf="show">
 
<div class="table-responsive">
 <ng-table
  [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
</ng-table> 
 </div>
 <div class="page-side">
<ngb-pagination *ngIf="config.paging"
                class="pagination-sm"
                [(page)]="page"
                [collectionSize]="length"
                [pageSize]="itemsPerPage"
                [maxSize]="maxSize"
                [boundaryLinks]="true"
                [rotate]="false"
                (pageChange)="onChangeTable(config, $event)"></ngb-pagination>
                </div>
<!-- <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{totalPage}}</pre>     -->
 </div>

 
